<section class="delay-[300ms] duration-[600ms] taos:translate-y-[200px] taos:opacity-0" data-taos-offset ="20" id="About">
    <div class="flex flex-col items-center">
        <div class="flex flex-row items-center space-x-4">
            <hr class="line-color w-52 sm:w-96">
            <h1 class="text-[#CDC6F6] font-bold text-2xl"><span class="text-cyan-400">01.</span> About me</h1>
        </div>
        <div class="flex flex-col items-center space-y-20 lg:flex-row lg:space-x-20">
            <img src="/etie20.svg" alt="ma photo" class="mt-20 rounded-full w-80 h-80 bg-gradient-to-r from-cyan-300 to-blue-600">
            <p class="text-[#8892B0] pl-3 text-xl" id="aboutMeText">I’m a passionate
                <span>software developer</span> who enjoys creating innovative
                solutions for complex challenges. I have contributed to
                creation of some <span>web and mobile and applications</span>.
                <br>
                <br>
                I enjoy working in a team and am constantly looking for 
                ways to <span>improve user experience</span>. Outside of coding, I
                like to spend my free time playing basket-ball, exploring new technologies,
                reading books about tech industry, and i’m interested in
                the world of accounting/finance, business lide, and 
                exploring intersection of technology and business.
            </p>
        </div>
    </div>
    
</section>