<section id="Contact" class="delay-[300ms] duration-[600ms] taos:translate-y-[200px] taos:opacity-0">
    <div class="flex flex-col items-center pt-20">
        <p class="text-cyan-400 text-xl font-semibold font-mono">05. Contact me?</p>
        <h2 class="text-[#CDC6F6] font-bold text-4xl mt-5">Get In Touch</h1>
        <p class="text-[#8892B0] mt-5 mx-5 md:mx-0 px-50 md:px-56 lg:px-60 text-center">While I am not actively seeking new opportunities at the moment, please feel free to reach out to me anytime. My inbox is always open and I would be more than happy to help with any questions you may have or just have a friendly chat. I will do my utmost to respond to your message as promptly as possible.
        </p>
        <a href="mailto:foyangjunior02@gmail.com?subject=Contact me"><button id="message" class="mt-20 animate-fade-up animate-duration-[4000ms] font-mono my-2 text-cyan-400 border-cyan-400 border-2 px-10 py-3 rounded-md transition duration-300 hover:border-[#CDC6F6] hover:text-[#0a192f] hover:bg-cyan-400">Say Hello</button></a>
        
    </div>
</section>
