<section>
    <div class="flex flex-col items-center pt-40 space-y-3">
        <div class="flex flex-row items-center space-x-4 mb-10">
            <hr class="line-color w-52 sm:w-96">
            <h1 class="text-[#CDC6F6] font-bold text-2xl"><span class="text-cyan-400">04.</span> Experience</h1>
        </div>
        <div class="flex flex-row justify-center space-x-3">
            <div class="flex flex-col items-center">
                <button class="font-mono text-color text-lg hover:bg-cyan-500 hover:text-[#CDC6F6] w-10">Gaus</button>
                <hr class="line-color w-10">
            </div>
            <!-- <div class="flex flex-col items-center">
                <button class="font-mono text-white text-lg hover:text-[#CDC6F6]">Ucac-Icam</button>
                <hr class="line-color w-10">
            </div> -->
        </div>
        <p class="text-[#CDC6F6] text-xl font-semibold"><span class="text-color font-mono text-xl">@Gaus</span> Full Stack developer</p>
        <p class="text-[#8892B0] font-medium">may 2023 - june 2023</p>
        <p></p>
    </div>
</section>