<footer class="flex flex-col items-center pt-40 pb-10 text-[#CDC6F6] font-mono">
    <p>Designed & Built by Etienne Junior FOYANG</p>
    <div class="flex">
        <p>with</p>
        <img src="astro.svg" width="20" height="20" alt="Astro"/>
    </div>
</footer>