<section class="pb-40 pt-28 pl-5 md:pl-40 " id="Home">
    <div>
        <div class="flex flex-col items-start">
            <p class="animate-fade-up animate-duration-[2000ms] text-[17px] text-color font-mono">Hello, my name is</p>
            <h1 class="animate-fade-up animate-duration-[4000ms] text-6xl font-bold text-color mt-4"><span class="font-bold">Etienne Junior</span> FOYANG.</span></h1>
            <h2 class="animate-fade-up animate-duration-[4000ms] text-3xl text-[#CDC6F6] font-bold mt-8">Software Developer</h2>
            <p class="animate-fade-up animate-duration-[4000ms] mt-2 text-[#8892B0] font-semibold text-xl" id="ambitionText">I build Innovative solutions for the digital age, crafted with passion and precision.</p>
            <ul class="animate-fade-up animate-duration-[4000ms] space-x-3 flex flex-row items-center">
                <li class="hover:animate-wiggle-more hover:animate-duration-[400ms]"><a target="_blank" href="https://github.com/Etie20"><img src="/github.svg" class="transition duration-300 cursor-pointer w-[48px] md:w-10 md:h-7" alt="github"/></a></li>
                <li class="hover:animate-wiggle-more hover:animate-duration-[400ms]"><a target="_blank" href="https://www.linkedin.com/in/etienne-junior-foyang-682ab8255/"><img src="/linkedin.svg" class="mt-6 transition duration-300 cursor-pointer w-[48px] md:w-10 md:h-7" alt="linkedin"/></i>-</a></li>
            </ul>
            <a href="/CV_Etienne_FOYANG.pdf" download><button id="resume" class=" animate-fade-up animate-duration-[4000ms] font-mono my-2 text-cyan-400 border-cyan-400 border-2 px-10 py-3 rounded-md transition duration-300 hover:border-[#CDC6F6] hover:text-[#0a192f] hover:bg-cyan-400">Resume</button></a>
        </div>
    </div>
</section>