---
import Card from "../Card.astro";
import Project from "../Project.astro";
const languages1: string[] = ["Next.js", "Tailwind css"];
const languages2: string[] = ["Laravel", "Express", "mariaDB", "Javascript"];
const languages3: string[] = ["Flutter", "Firebase"]

---
<section id="Projects" class="delay-[300ms] duration-[600ms] taos:translate-y-[200px] taos:opacity-0" data-taos-offset ="20">
    <div class="flex flex-col items-center pt-40 space-y-3">
        <div class="flex flex-row items-center space-x-4 mb-10">
            <hr class="line-color w-36 sm:w-96">
            <h1 class="text-[#CDC6F6] font-bold text-2xl"><span class="text-cyan-400">03.</span> Projects</h1>
        </div>
        <Project 
        name="GAUS MARKET" 
        description="Gaus Market combines stock management, accounting, and a marketplace for Cameroonian businesses. It simplifies operations and facilitates buying and selling between local businesses, leading to increased profitability."
        languages={["Flutter", "Express", "MongoDB", "Render", "Cloudinary"]}
        imagePath="/gausProject.svg"
        />
        <Project 
        name="HOGMASTER" 
        description="HogMaster is a web app that helps Cameroonian pig farmers manage their farm operations, from pig health and nutrition to production and sales. With real-time tracking and analysis of data such as weight, growth, feed consumption, and disease, users can make informed decisions to improve their production and profitability."
        languages={["Next.js", "tRPC", "Prisma", "Postgresql", "Docker"]}
        imagePath="/cs.svg"
        />
        <div class="pt-40 flex flex-col items-center">
            <p class="text-xl sm:text-3xl font-bold text-[#CDC6F6]">Other Noteworthy Projects</p>
            <div class="flex flex-row justify-center pt-5">
                <p class="text-color">view the archive</p>
            </div>
            <ul class="flex flex-row flex-wrap gap-10 justify-center lg:justify-start pt-20">
                <Card title="CSC Website Optimization" body="Optimize chedjou sports consulting website, for improve ui/ux" href="https://github.com/Etie20/CSC" languages={languages1}/>
                <Card title="BDE Project" body="Make a web app for ucac-icam BDE activites management" href="https://github.com/Etie20/Project-WEB" languages={languages2}/>
                <Card title="Password management mobile app" body="I build this app to improve my flutter skills" href="#Projects" languages={languages3}/>
            </ul>
        </div>
    </div>
</section>