---
import Skill from "../Skill.astro";

---

<section class="pt-40 delay-[300ms] duration-[600ms] taos:translate-y-[200px] taos:opacity-0" id="Skills">
    <div class="flex flex-row justify-center items-center space-x-4">
        <hr class="line-color w-52 sm:w-96">
        <h1 class="text-[#CDC6F6] font-bold text-2xl"><span class="text-cyan-400">02.</span> Skills</h1>
    </div>
    <div class="pt-20 flex lg:flex-row sm:items-baseline justify-center flex-wrap gap-16 sm:gap-32 items-center px-5 lg:px-0">
        <Skill title="Languages"/>
        <Skill title="Frontend"/>
        <Skill title="Backend"/>
        <Skill title="Others"/>
    </div>
</section>