---
import About from '../components/sections/About.astro';
import Home from '../components/sections/Home.astro';
import NavBar from '../components/NavBar.astro';
import Layout from '../layouts/Layout.astro';
import Skills from '../components/sections/Skills.astro';
import Aside from '../components/Aside.astro';
import Contact from '../components/sections/Contact.astro';
import Footer from '../components/sections/Footer.astro';
import Experience from '../components/sections/Experience.astro';
import Projects from '../components/sections/Projects.astro';
---

<Layout title="Etienne Junior FOYANG.">
	<NavBar/>
	<main>
		<Aside />
		<Home />
		<About />
		<Skills />
		<Projects />
		<Experience />
		<Contact />
	</main>
	<Footer />
</Layout>
