<div class="fixed left-0 bottom-28 lg:block hidden">
    <div class="flex flex-col justify-start space-y-[65px]">
      <a  onclick="location.href = 'mailto:foyangjunior02@gmail.com'" class="text-[#CDC6F6] font-bold font-mono text-sm transform rotate-90 transition duration-300 hover:text-cyan-400 hover:translate-y-[-10px] hover:cursor-pointer">Hello..😉</a>
      <hr class="w-20 mt-4 transform rotate-90">
    </div>
</div>