---
interface Props {
	title: string;
	body: string;
	href: string;
	languages: string[]
}

const { href, title, body, languages } = Astro.props;
---

<li class="link-card w-72">
	
	<a href={href} target="_blank">
		<div class="flex justify-between">
			<img class="my-2" src="/github.svg" width="30" height="30" alt="github"/>
		</div>
		<p class="text-[#CDC6F6] font-bold text-xl">
			{title}
		</p>
		<p class="text-[#CDC6F6] font-medium pt-5">
			{body}
		</p>
		<div class="flex flex-row flex-wrap gap-2 pt-5 font-semibold font-mono">
			{languages.map((language, index)=>(
				<p>{language}</p>
			))
			}
		</div>
	</a>
</li>
<style>
	.link-card {
		list-style: none;
		display: flex;
		padding: 0.25rem;
		background-color: #8892B0;
		background-image: none;
		background-size: 400%;
		border-radius: 0.6rem;
		background-position: 100%;
		transition: background-position 0.6s cubic-bezier(0.22, 1, 0.36, 1);
		box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -2px rgba(0, 0, 0, 0.1);
	}

	.link-card > a {
		width: 100%;
		text-decoration: none;
		line-height: 1.4;
		padding: 1rem 1.3rem;
		border-radius: 0.35rem;
		color: #000;
		background-color: #0E2340;
		opacity: 0.8;
	}
	h2 {
		margin: 0;
		font-size: 1.25rem;
		transition: color 0.6s cubic-bezier(0.22, 1, 0.36, 1);
	}
	p {
		margin-top: 0.5rem;
		margin-bottom: 0;
		color: #444;
	}
	.link-card:is(:hover, :focus-within) {
		background-position: 0;
		background-image: var(--accent-gradient);
	}
	.link-card:is(:hover, :focus-within) h2 {
		color: rgb(var(--accent));
	}
</style>
