---
interface LinkProps {
    name: string,
    imagePath: string,
}
interface Props {
    title: string;
    links: LinkProps[];
}


const { title, links} = Astro.props;
---

<div class="animate-fade-up animate-duration-[2200ms]">
        <p class="text-[#CDC6F6] text-xl font-bold pb-5">{title}</p>
        <ul class="flex flex-col items-start justify-center gap-3">
            {
                links.map((link, index) => (
                <li class="font-bold text-[#CDC6F6] flex"><img class ="mr-2" src={link.imagePath} width="20" height="20" alt={link.name} />{link.name}</li>
                ))
            }
            </ul>
</div>
